<!DOCTYPE html>
<script>

    $(
        function (){
            $('#flip').change(function(){
                $.getJSON('/overwrite',{Botao:$("#flip").val()});
                }
            )
        }
    )
</script>
<form>
    <select name = "flip" if = "filp" data-role = "slider" style = "float:left;">
        <option value = "OFF">OFF</option>
        <option value = "ON">ON</option>
    </select>
</form>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>